.*
__*
*.bak

# -----------------------------------------------------------------------------
# IDEs and Editors
# -----------------------------------------------------------------------------
!.vscode
!.vscode/**/*

# -----------------------------------------------------------------------------
# Git
# -----------------------------------------------------------------------------
!.gitignore
!.gitattributes
!.gitkeep

# -----------------------------------------------------------------------------
# GitHub
# -----------------------------------------------------------------------------
!.github
!.github/**/*

# -----------------------------------------------------------------------------
# Semantic Release
# -----------------------------------------------------------------------------
!.releaserc.yml
!.releaserc.yaml
!.releaserc.json

# -----------------------------------------------------------------------------
# Docs
# -----------------------------------------------------------------------------
!.nav.yml
!.meta.yml

# -----------------------------------------------------------------------------
# MKDocs
# -----------------------------------------------------------------------------
mkdocs/dist
!mkdocs/.env

# -----------------------------------------------------------------------------
# Terraform
# -----------------------------------------------------------------------------

# Local .terraform directories
**/.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore lockfiles in modules
.terraform.lock.hcl
